/* Colors
#f7f7f7 - Light gray (Background color)
#3b5998 - Deep blue (Primary color)
#8b9dc3 - Light blue (Accent color)
#333333 - Dark gray (Text color)
#2a4887 - Dark blue (Hover color)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f7f7;
    color: #333333;
}

.header {
    background-color: #3b5998;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .logo {
    font-size: 32px;
}

.header a {
    color: #f7f7f7;
    text-decoration: none;
}

.header .links li {
    display: inline;
    list-style: none;
    margin: 0 10px;
}

.header .user_info {
    color: #f7f7f7;
    display: none;
}

.header .user_info .vertical_line {
    display: inline-block;
    width: 2px;
    background-color: #f7f7f7;
}

.header .user_info .welcome_msg,
.header .user_info .logout, .header .user_info .cart-header, .header .user_info .wishlist-header {
    margin: 0 10px;
    font-size: 17px;
}

.cart-header {
    position: relative;
    display: inline-block;
}

.cart-header i {
    cursor: pointer;
}

.cart-header .badge {
    background-color: #ff6f61;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -12px;
    display: none;
}

.cart-items {
    position: absolute;
    width: 200px;
    background-color: #f7f7f7;
    color: #333333;
    top: 30px;
    padding: 10px;
    display: none;
    transform: translateX(-50%);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-items .cart-item-details{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.cart-items .cart-item-details:last-child {
    border-bottom: none;
}

.cart-items .cart-item-name {
    font-weight: bold;
    color: #3b5998;
}

.cart-items .cart-item-price {
    color: #ff6f61;
}

.cart-items button {  
    padding: 8px;
    width: 100%;
    background-color: #3b5998;
    color: #f7f7f7;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 300ms;
}

.cart-items button:hover {
    background-color: #2a4887;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.search {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.products {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 40%;
    margin: 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}


.product-image img {
    width: 100%;
    height: 250px;
    /* object-fit: contain; */
    border-radius: 5px;
}

.product-details {
    padding: 10px;
}

.product-details .product-det {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.product-details .product-name {
    text-align: left;
    cursor: pointer;
}

.product-price {
    text-align: right;
}

.product-details .product-desc {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.product-details .product-actions {
    text-align: right;
    position: relative;
    margin-top: 15px;
}

.product-actions button {
    display: inline-block;
    padding: 10px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #3b5998;
    transition: background-color 300ms, color 300ms;
}

.product-actions button:hover {
    color: white;
    background-color: #3b5998;
}

/* Wishlist Dropdown */
.wishlist-header {
    position: relative;
    display: inline-block;
}

.wishlist-header .wishlist-badge {
    background-color: #ff6f61;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -5px;
    display: none;
}

.wishlist-header i {
    cursor: pointer;
}

.wishlist-items {
    position: absolute;
    width: 200px;
    background-color: #f7f7f7;
    color: #333333;
    top: 30px;
    padding: 10px;
    display: none;
    transform: translateX(-60%);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* .wishlist-header:hover .wishlist-items{
    display: block;
}

.wishlist-items:hover {display: block;} */

.wishlist-items .wishlist-item-details{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.wishlist-items .wishlist-item-details:last-child {
    border-bottom: none;
}

.wishlist-items .wishlist-item-name {
    font-weight: bold;
    color: #3b5998;
}

.wishlist-items .wishlist-item-price {
    color: #ff6f61;
}

.wishlist-items button {  
    padding: 8px;
    width: 100%;
    background-color: #3b5998;
    color: #f7f7f7;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 300ms;
}

.wishlist-items button:hover {
    background-color: #2a4887;
}
